{{ $ := .root }} {{ $page := .page }}
<!-- Collaborators widget -->
<div class="row">
  <div class="col-xs-12 col-md-4 section-heading">
    <h1>{{ with $page.Title }}{{ . | markdownify }}{{ end }}</h1> {{ with $page.Params.subtitle }}
    <p>{{ . | markdownify }}</p>{{ end }}
  </div>
  <div class="col-xs-12 col-md-8">
    {{range $page.Params.collaborator}}
    {{if eq .show true}}
    <div class='collaborator-container'>
        <a href="{{.link}}" target="_blank"><img class='collaborator-image' src="/img/collaborators/{{.image}}" alt="Drawing" /></a>
        <a href="{{.link}}" target="_blank">
      <div class='collaborator-name'>
        {{.id}}
      </div>
      </a>
      <div class='collaborator-position'>
        {{.position}}
      </div>
    </div>
    {{end}}
    {{end}}
  </div>
</div>
